/*------------
    Fonts
----------*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;500;600&display=swap');


/*--------------------
    Common Styles
-------------------*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*----------------
    Header Style
 --------------*/

 header{
    padding-left: 120px;
 }

/* -----------------------
    First Section Style 
-----------------------*/

.first-section{
    display: grid;
    grid-template-columns: 1.7fr 1.3fr;
    justify-content: center;
    margin-bottom: 80px;
}

.introductory-part{
    padding-left: 120px;
    padding-right: 120px;
    margin: auto;
}

.introductory-part h1{
    font-size: 45px;
    letter-spacing: -3px;
    line-height: 130%;
    margin-bottom: 1px;
    transition: transform .2s;
}

.introductory-part h1:hover{
    transform: scale(1.2);
}

.introductory-part p{
    font-size: 14px;
    margin-bottom: 36px;
    transition: transform .2s;
}

.introductory-part p:hover{
    transform: scale(1.1);
}

.introductory-part a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    border-radius: 41px;
}

.fa-arrow-right{
    padding-left: 5px;
}

.recent-product-img-part{
    margin: auto;
}

.recent-product-img-part img{
    background-image: url(./images/Circle\ design.svg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    width: 80%;
}

/*-----------------------------
    Brand Logo Section Style 
 --------------------------*/

.brand-logos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brand-logo{
    padding: 20px;
}

hr{
    width: 90%;
}

/* -------------------------------
    Popular Collection Section 
-------------------------------*/

.popular-collection{
    margin-top: 30px;
}

.popular-collection h2{
    text-align: center;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 20px;
    justify-items: center;
}

.product-item{
    justify-items: space-evenly;
}

.product{
    width: 329px;
    height: 476px;
    line-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item{
    padding: 10px;
}

.product-photo{
    border-radius: 5px;
}

.product-describtion{
    line-height: 70%;
}

.product-describtion p{
    font-size: 15px;
}

.fas{
    font-size: 10px;
}

.fa-star.filled{
    color: #FB8200;
}

.fas.fa-star-half-alt{
    color: #FB8200;
}

.rating-value{
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}

.see-more-product{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 5%;
    padding-bottom: 30px;
}

.popular-collection a{
    text-decoration: none;
    display: inline;
    float: right;
    font-weight: bold;
    color: #E02C6D;
}

/*-----------------
    Footer Styles 
 ---------------*/

 footer{
    margin-top: 30px;
    background-color: #0A0826;
    color: whitesmoke;
    text-align: center;
    line-height: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
 }

 footer p{
     font-size: 14px;
 }

 .fa-facebook, .fa-snapchat, .fa-pinterest{
    font-size: 30px;
    padding: 5px;
 }


 /* ---------------------
    Media Queries 
----------------------*/

/*--------------------
     Phone Devices
-------------------*/

@media only screen and (max-width: 688px){
    .first-section-container, .brand-logo-section{
        width: 100%;
    }

    .products{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        width: 100%;
        margin: 0 auto;
    }
}

/*--------------------
     Tablet Devices 
-------------------*/

@media only screen and (min-width: 689px) and (max-width: 991px){

    .first-section-container, .brand-logo-section{
        width: 100%;
    }

    .products{
        grid-template-columns: repeat(2, 2fr);
    }

}
