/* Font  */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;500;600&display=swap');

/* Common Styles */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* -----------------------
    First Section Style 
-----------------------*/

.first-section{
    display: grid;
    grid-template-columns: 1.7fr 1.3fr;
    justify-content: center;
    margin-bottom: 80px;
}

.introductory-part{
    padding-left: 120px;
    padding-right: 120px;
    margin: auto;
}

.introductory-part h1{
    font-size: 45px;
    letter-spacing: -3px;
    line-height: 130%;
    margin-bottom: 1px;
}

.introductory-part p{
    font-size: 14px;
    margin-bottom: 36px;
}

.introductory-part a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    border-radius: 41px;
}

.fa-arrow-right{
    padding-left: 5px;
}

.recent-product-img-part{
    margin: auto;
}

.recent-product-img-part img{
    background-image: url(./images/Circle\ design.svg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    width: 80%;
}

/* -------------------------------
    Popular Collection Section 
-------------------------------*/

.popular-collection h2{
    text-align: center;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 20px;
    justify-items: center;
}

.product-item{
    justify-items: space-evenly;
}

.product{
    width: 329px;
    height: 476px;
    line-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item{
    padding: 10px;
}

.product-photo{
    border-radius: 5px;
}

.product-describtion{
    line-height: 70%;
}

.product-describtion p{
    font-size: 15px;
}

.fas{
    font-size: 10px;
}

.fa-star.filled{
    color: #FB8200;
}

.fas.fa-star-half-alt{
    color: #FB8200;
}

.rating-value{
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}

/*-----------------
    Footer Styles 
 ---------------*/

 footer{
    margin-top: 30px;
    background-color: #0A0826;
    color: whitesmoke;
    text-align: center;
    line-height: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
 }

 footer p{
     font-size: 14px;
 }

 .fa-facebook, .fa-snapchat, .fa-pinterest{
    font-size: 30px;
    padding: 5px;
 }