/* Font  */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;500;600&display=swap');

/* Common Styles */

body{
    font-family: 'Poppins', sans-serif;
}


/* -----------------------
    First Section Style 
-----------------------*/

.first-section{
    display: grid;
    grid-template-columns: 1.7fr 1.3fr;
    /* grid-row-gap: 120px; */
}

.introductory-part{
    padding-left: 120px;
    padding-right: 130px;
}

.introductory-part a{
    text-decoration: none;
}

.recent-product-img-part{
    padding-right: 120px;
}

.recent-product-img-part img{
    /* background-image: url(./images/Circle\ design.svg); */
    width: 80%;
}